body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

img {
    display: block;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {.container {
    max-width: 768px;
}
}

@media  screen and (min-width:1158px) {.container{
    max-width: 1158px;
    padding: 0 15px;
}
}
/*--------header---*/

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav {
    display: flex;
    align-items: center;
}


.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 17px 0;
}

.logo-part {
    color: #2e2f42;
}

.header-item {
    display: none;
}

.header-link {
}

.address {
    font-style: normal;
    margin-left: auto;
    display: none;
}

.address-item {

}

.address-list {}

.open-menu-btn {
    padding: 0;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
    border:none;
}
/*-----------------menu-------------*/

.mob-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    padding: 72px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.menu-close-btn {
    margin-left: auto;
    margin-bottom: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #e7e9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
}

.mob-btn {

}

.mob-menu-list {

}

.mob-list-item {
    
}
.mob-menu-item:not(:last-child) {
margin-bottom: 40px;
}

.mob-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.address-mob-list {
}

.address-mob-item:not(:last-child) {
    margin-bottom: 24px;
    
}

.mob-link-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}
.current {
    position: relative;
    color: #404BBF;
}

.mob-icon-list {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 48px;
}

.mob-icon-item {
    width: 40px;
    height: 40px;
}

.mob-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mob-icon-icon {
    fill: #f4f4fd;
}

/*-----------------header-next-------------*/

@media screen and (min-width:768px) {
    .logo {
        margin-right: 120px;
    }
    .open-menu-btn{
        display: none;
    }
        .header-item {
            display: flex;
            gap: 40px;
        }
        .nav-link {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2e2f42;
            padding: 24px 0;
            display: block;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        .current {
            position: relative;
            color: #404BBF;
        }
        .current::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        border-radius: 2px;
        background-color: #404bbf;
        height: 4px;
        width: 100%;
        }
        .nav-link:hover,
        .nav-link:focus {
        color: #404bbf;
        }
        .address {
        display: block;
        }
        .address-item {
            display: flex;
            flex-direction: column;
            gap:12px;
        }
        .address-link-item {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .address-link-item:hover,
        .address-link-item:focus {
        color: #404bbf;
        }
}

@media screen and (min-width:1158px) {
    .logo {
        margin-right: 76px;
    }
    .address-item{
        flex-direction: row;
        gap:40px;
    }
    .address-list {
        font-size: 16px;
        line-height: 1.5;
    }
        .address-link-item {
            font-size: 16px;
        }
}

/*-----------------section-hero-------------*/

.hero {
    background: #2e2f42;
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: linear-gradient( 
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),
    url(../images/Dark-bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 320px;
    margin: 0 auto;
}

@media  screen and (min-resolution: 2dppx), (min-resolution: 192dpi){
.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/Dark-bg-mob-2x.jpg);
}    
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    width: 182px;
    height: 56px;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}

@media screen and (min-width:768px) {
    .hero {
        max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/Dark-bg-tablet.jpg);
    }
    @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/Dark-bg-tablet-2x.jpg);
    }
}
.hero-title{
    font-size: 56px;
    max-width: 496px;
    margin-bottom: 36px;
}
}

@media screen and (min-width:1158px) {
    .hero {
        max-width: 1158px;
        padding-top: 188px; 
        padding-bottom: 188px; 
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
        }
        @media screen and (min-resolution: 2dppx),
        (min-resolution: 192dpi) {
        .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/people-office-2x.jpg);
        }
    }
    .hero-title{
        margin-bottom: 48px;
    }
}

/*---------------section-features--------------*/

.features {
    padding-top: 96px;
    padding-bottom: 96px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.features-icon {
    display: none;
}

.features-item {
    width: 100%;
} 



.features-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.features-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width:768px) {

.container {
    width: 768px;
    padding-left: 16px;
    padding-right: 16px;
}
.features-list {
    gap: 72px 24px;
}
.features-item {
    width: calc((100% - 24px) / 2);
}
.features-subtitle {
    text-align: left;
}
}

@media screen and (min-width:1158px) {
.container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    }
.features {
    padding-top: 120px;
    padding-bottom: 120px;
    }
.features-list {
    display: flex;
    gap: 24px;
    }
.features-item {
    width: calc((100% - 72px) / 4);
}
.features-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}
.features-icon {
    display: block;
}
.features-subtitle {
    font-weight: 500;
    font-size: 20px;
}
.features-item-title {
    font-weight: 400;
}
}

/*-----------------taste----------------*/

.taste {
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
}

.taste-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
    text-align: center;
}

.taste-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
}

.taste-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    width: 264px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.taste-image {
    width: 100%;
}

.taste-container {
    padding: 32px 0;
}

.taste-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.taste-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.icon-list {
    display: flex;
    gap:24px;
    justify-content: center;
}

.icon-item {
    width: 40px;
    height: 40px;

}

.icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-icon {
    fill: #f4f4fd;
}

.icon-link:hover, 
.icon-link:focus {
    background-color: #404bbf;
}

@media screen and (min-width:768px) {
.container-container{
    width: 584px;
}
.taste-list {
    gap: 64px 24px;
}
    .taste-item {
    width: calc((100% - 24px) / 2);
}
.taste-image {
    width: 264px;
    height: 260px;
}
}

@media screen and (min-width:1158px) {
.container {
    min-width: 1158px;
}
.taste {
padding-top: 120px;
padding-bottom: 120px;
}
.taste-list{
    display: flex;
    gap: 24px; 
}
.taste-item{
    width: calc((100% - 72px) /4); 
}
}

/*------------------made-----------------*/

.made {
    padding-top: 96px;
    padding-bottom: 96px;
}

.made-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.made-item {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.made-list {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
}

.made-list:hover .made-text-list {
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    
}

.made-image-container {
    position: relative;
    overflow: hidden;
}

.made-text-list {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}

.made-image {
    margin: 0 auto;
    max-width: 100%;
    /* width: 360px;
    height: 300px; */
}

.made-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.made-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.made-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width:768px) {
.made-item {
    gap: 72px 24px;
}
.made-list {
    width: calc((100% - 24px) /2);
}
}

@media screen and (min-width:1158px) {
.made {
    padding-top: 120px;
    padding-bottom: 120px; 
}
.made-item{
    gap: 48px 24px; 
}
.made-list{
    width: 360px; 
}
}

/*----------------footer-----------------*/

.footer {
    background: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
}

.footer-sic {
    display: block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    max-width: 116px;
    margin-bottom: 16px;
    margin-right: auto;
    margin-left: auto;
}


.footer-part {
    color: #f4f4fd;
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-container-name{
    margin-top: 72px;
    margin-bottom: 72px;
}

.footer-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.icon-footer {
    display: flex;
    gap:16px;
    align-items: center;
    justify-content: center;
}

.icon-item-footer {
    width: 40px;
    height: 40px;
}

.icon-link-footer {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-icon-footer {
    fill: #f4f4fd;
}

.icon-link-footer:hover,
.icon-link-footer:focus {
    background-color: #31d0aa;
}

.footer-field {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.footer-field-text {
margin-bottom: 16px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #ffffff;
}


.footer-label {
    
}

.footer-input {
width: 288px;
height: 40px;
border: 1px solid #ffffff;
background-color: transparent;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
padding-left: 16px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: #ffffff;
}

::placeholder {
    color: color #ffffff;
}

.footer-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    margin-top: 16px;
    margin-right: auto;
    margin-left: auto;
}

.footer-icon-btn {
    margin-left: 16px;
    fill: #FFFFFF;
} 
@media screen and (min-width:768px) {
    .footer-container  {
        width: 584px;
    }
.footer-wrap-container {
    display: flex;
    align-items: baseline;
    margin-bottom: 72px;
    gap: 24px;
}
.footer-container-sic{
    text-align: left;
    margin: 0;
}
.footer-sic {
    margin-bottom: 10px;
    text-align: left;
}
.footer-container-name{
    margin: 0;
}
.footer-name {
    text-align: left;
}
.footer-field {
    display: block;
    width: calc((100% - 24px) /2);
}
.footer-field-action {
    display: flex;
    gap: 24px;
}
.footer-input {
    width: 264px;
}
.footer-btn {
    margin: 0 auto;
}
}

@media screen and (min-width:1158px) {
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-container-sic {
    margin-right: 120px; 
}
.footer-container {
    display: flex;
    align-items: baseline;
    }
    .footer-field {
    margin-left: 80px;
    }
}

 /* -------------------backdrop------------------ */


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 288px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
        padding: 72px 24px 24px 24px;
        
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #e7e9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close-btn:hover,
.modal-close-btn:focus {
background-color: #404bbf;
border: none;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover > .modal-close-icon, 
.modal-close-btn:focus > .modal-close-icon{
fill: #fff;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color:#2E2F42;
    margin-bottom: 16px;
}

.modal-form {

}

.modal-field {
margin-bottom: 8px;
}

.modal-label {
display: block;
margin-bottom: 4px;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}

.modal-input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    background-color: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}

.modal-input:focus,
.modal-input:hover {
    border-color: #4d5ae5;
}

.modal-input:focus + .modal-field-icon,
.modal-input:hover + .modal-field-icon {
    fill: #4d5ae5;
}

.modal-field-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fiend-text {
    margin-bottom: 16px;
}

.modal-text {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    resize: none;
}

.modal-text:focus,
.modal-text:hover {
    border-color: #4D5AE5;
}

.modal-field {

}

.fiend-check {
    margin-bottom: 24px;
}

.check-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.check-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.modal-check:checked + .check-text span{
    background-color:#404bbf;
    border: none;
    fill:#F4F4FD;
}

.check-link {
    color:#4d5ae5;
}

.submit-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
margin: 0 auto;
}

@media screen and (min-width:768px) {
.modal {
    width: 408px;
}
}

@media screen and (min-width:1158px) {

}